* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

button {
  width: 12%;
  margin: 1% 2%;
  border: 1px solid black;
  border-radius: 7px;
  padding: 1% 2%;
  text-transform: capitalize;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.active {
  border: 2px solid #b62005;
}

.category-btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: 5% auto;
}

.new-fact {
  display: block;
  margin: 2% auto;
}

h3 {
  width: 100%;
  margin: 1%;
  font-size: 1.6rem;
  text-align: center;
}

p {
  width: 75%;
  margin: 0 auto;
  border: 1px dashed black;
  padding: 3%;
  font-size: 1.6rem;
}
